<?php
/**
 * @file      AblePolecat-View/etc/polecat/conf/path.config
 * @brief     Able Polecat master project path configuration file.
 * 
 * Changes to this file effect the project environment across all platforms.
 * Do not add platform or web server dependent configuration settings to this
 * file; instead, add these changes to ./user/etc/polecat/conf/path.config.
 *
 * @author    Karl Kuhrman
 * @copyright 2015 [GPL V2] Karl Kuhrman
 */
 
/**
 * This is the root directory containing all the interface implementations and 
 * extension class source files.
 */
if (!defined('ABLE_POLECAT_SRC')) {
  global $ABLE_POLECAT_SRC;
  !isset($ABLE_POLECAT_SRC) ? $ABLE_POLECAT_SRC = ABLE_POLECAT_USR  . DIRECTORY_SEPARATOR . 'src' : NULL;
  define('ABLE_POLECAT_SRC', $ABLE_POLECAT_SRC);
}

/**
 * Location of Able Polecat core class library.
 * Override this definition if you intend to locate the core class library
 * anywhere other than ABLE_POLECAT_ROOT/core.
 *
 * Best practice is to clone Able Polecat (and other class libraries) in
 * ./project/usr/libs/
 */
if (!defined('ABLE_POLECAT_CORE')) {
  global $ABLE_POLECAT_CORE;
  !isset($ABLE_POLECAT_CORE) ? $ABLE_POLECAT_CORE = implode(DIRECTORY_SEPARATOR, array(ABLE_POLECAT_USR, 'lib', 'AblePolecat', 'core')) : NULL;
  define('ABLE_POLECAT_CORE', $ABLE_POLECAT_CORE);
}

/**
 * This is the white list of IP addresses, which may access install, update and
 * other Able Polecat utilities.
 */
if (!defined('ABLE_POLECAT_ADMIN_IP')) {
  global $ABLE_POLECAT_ADMIN_IP;
  $ABLE_POLECAT_ADMIN_IP = array('127.0.0.1' => TRUE);
  define('ABLE_POLECAT_ADMIN_IP', TRUE);
}
else {
  global $ABLE_POLECAT_ADMIN_IP;
  $ABLE_POLECAT_ADMIN_IP['127.0.0.1'] = TRUE;
}

/**
 * Define ABLE_POLECAT_ALIAS only if your project index.php is in a sub-folder of
 * document root. For example, it is common when setting up concurrent local development 
 * environments on a single machine to use aliases; http://localhost/my_project, etc.
 * In such case, define('ABLE_POLECAT_ALIAS', 'my_project') in your configuration file 
 * ./my_project/etc/polecat/conf/path.config.
 */
// if (!defined('ABLE_POLECAT_ALIAS')) {
  // global $ABLE_POLECAT_ALIAS;
  // !isset($ABLE_POLECAT_ALIAS) ? $ABLE_POLECAT_ALIAS = 'AblePolecat-Dev' : NULL;
  // define('ABLE_POLECAT_ALIAS', $ABLE_POLECAT_ALIAS);
// }

/**
 * To enable the boot log feature, assign a valid file name/path to ABLE_POLECAT_BOOT_LOG.
 * Any path and/or file name is OK provided the parent directory is writeable by the 
 * web server user/group.
 */
// if (!defined('ABLE_POLECAT_BOOT_LOG')) {
  // global $ABLE_POLECAT_BOOT_LOG;
  // $ABLE_POLECAT_BOOT_LOG = implode(DIRECTORY_SEPARATOR, array(ABLE_POLECAT_VAR, 'log', 'bootlog.csv'));
  // define('ABLE_POLECAT_BOOT_LOG', $ABLE_POLECAT_BOOT_LOG);
// }

/**
 * Location of theme resources, scripts and assets.
 */
if (!defined('ABLE_POLECAT_THEME')) {
  $ABLE_POLECAT_THEME = implode(DIRECTORY_SEPARATOR, array(ABLE_POLECAT_VAR, 'www', 'htdocs', 'theme'));
  define('ABLE_POLECAT_THEME', $ABLE_POLECAT_THEME);
}